PPT_CHAIN_ID=
PPT_CONTRACT_ADDRESS=
PPT_RPC_URL=
PPT_EXPLORER_URL=
PPT_MERCHANT_TREASURY=
TOKENOMICS_CONFIG_PATH=../../docs/tokenomics/parameters-v1.0.yaml
TOKENOMICS_SHA256_PATH=../../docs/tokenomics/parameters-v1.0.sha256
TOKENOMICS_SIGNATURE_PATH=../../docs/tokenomics/parameters-v1.0.sig
TOKENOMICS_PUBLIC_KEY_PATH=../../docs/tokenomics/parameters-v1.0.pub
TOKENOMICS_ENFORCEMENT=true
